mixin inputForm(User, userVal, name, nameVal, email, emailVal, age, ageVal, action)
    form(action='action', method='POST')
        label(for= id)= value
        input(type='text', name= id, id= id, placeholder="name")
        label(for= id)= value
        input(type='email', name=id, id= id, placeholder="email")
        label(for= id)= value
        input(type='number', name=id, id= id, placeholder="age")
        input(type='submit')
    